.navbar {
  background-color: #e84c3d;
  height: 50px;
  display: flex;
  justify-content: start;
  align-items: center;
  position: sticky;
  width: 100%;
  z-index: 999;
}

.menu-bars {
  margin-left: 0px;
  font-size: 22px;
  background: none;
  color: #fff;
  /* margin-right: 15px; */
}

.menu-bars:hover {
  color: #fff;
}
.menu-bars-close {
  font-size: 22px;
  background: none;
  color: #fff;
  margin-right: 15px;
}

.menu-bars-close:hover {
  color: #fff;
}
.nav-menu {
  background-color: #f9f9f9;
  width: 250px;
  height: 100vh;
  /* display: flex; */
  /* justify-content: center; */
  position: fixed;
  top: 50px;
  left: -100%;
  transition: 850ms;
  z-index: 999999;
  border-right: 1px solid #e9ecef;
  box-shadow: 0 8px 10px 0 rgba(183, 192, 206, 0.2);
  overflow-y: auto;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
  z-index: 99999999;
}

.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: #1a83ff;
}

.nav-menu-items {
  width: 100%;
  padding: 0;
  margin: 0;
}

.navbar-toggle {
  background-color: #e84c3d;
  width: 100%;
  /* height: 40px; */
  float: right;
  text-align: end;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: end;
}
.navbar .navDropdown .dropdown-toggle {
  padding: 0px !important;
  background-color: transparent !important;
  border: none !important;
}
.navbar .navDropdown .dropdown-toggle::after {
  display: none !important;
}

.categorySidebar button {
  width: 100%;
  text-align: left;
  padding: 4px 12px;
  font-size: 18px;
  font-weight: 500;
  background-color: transparent;
  color: #e84c3d;
  border: none;
}
.accordion-button:focus {
  box-shadow: none !important;
  border: none !important;
}
.accordion-header button {
  color: #e84c3d;
}
.subCategorySidebar {
  padding: 0px 10px;
  background-color: #f4f4f4;
  cursor: pointer;
}

.subCategorySidebar a {
  background-color: transparent;
  border: none;
  border-left-color: currentcolor;
  border-left-style: none;
  border-left-width: medium;
  border-left: 1px solid #e93b2c;
  padding-left: 10px;
  padding: 3px 10px;
  padding-bottom: 3px;
  font-size: 16px;
  color: #e93b2c;
}
.navbarDropdown {
  padding: 10px !important;
}
.navbarDropdown .dropdown a {
  width: 100%;
  display: block;
  margin: 2px 0px;
  font-size: 18px;
  font-weight: 500;
  color: #1b1b1b;
}
.navbarDropdown .dropdown button {
  background-color: transparent !important;
  width: 100%;
  display: block;
  margin: 2px 0px;
  font-size: 18px;
  font-weight: 500;
  color: #1b1b1b;
  text-align: left;
  border: none;
  padding: 0px !important;
}
/* span {
    margin-left: 16px;
  } */

/* card */
@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@400;700&display=swap");

/************************************
               dark mood added 
  ************************************/

/************************************
               global css 
  ************************************/

.manu-item a {
  text-decoration: none !important;
  color: #413960;
}

.manu-item a:hover {
  color: #e84c3d;
}

/************************************
               nav section
  ************************************/

nav {
  background-color: #e84c3d;
  height: 50px;
}

nav a {
  text-decoration: none;
  color: white;
}

.blog-header-logo {
  font-weight: bold;
  font-size: 22px;
}

.logo-div {
  top: 8px;
}

sup {
  color: whitesmoke;
  top: -12px;
  font-size: 12px;
}

.sader .row {
  margin: 0 0;
}

.topic-text {
  margin: 15px 0;
}

.lol {
  display: inline-block;
  border: 1px #e84c3d solid;
  padding: 5px 10px;
  margin: 5px 0 0 0;
  border-radius: 3px;
  width: 100%;
  background-color: #e84c3d;
  color: #fff;
  text-align: center;
  transition: 0.4s;
}

.lol:last-child {
  margin-bottom: 5px;
}

.lol:hover {
  display: inline-block;
  border: 1px #e84c3d solid;
  padding: 5px 10px;
  margin: 5px 0 0 0;
  border-radius: 3px;
  width: 100%;
  background-color: #fff;
  color: #e84c3d;
}

/************************************
               nav section
  ************************************/

.hero-text {
  background-color: #fff0f0;
  text-align: center;
  padding: 10px 0;
  margin-bottom: 15px;
}

.hero-btn {
  text-align: center;
  padding: 10px 0;
  margin-bottom: 15px;
}

.btn-warning {
  width: 100%;
}

.hero-text span {
  padding: 0;
  margin: 0;
  color: #413960;
}

.active {
  color: #e84c3d;
}

nav a:hover {
  color: #413960;
}

/************************************
              help card section
  ************************************/

.help-card {
  margin: 15px 0 0 0;
  overflow: hidden;
}

.carousel-indicators {
  bottom: -5px;
}

/************************************
              card section
  ************************************/

.card {
  border-radius: 0;
  transition: 0.3s;
  margin-bottom: 15px;
}

.card:hover {
  border-color: #e84c3d;
}

.card-body {
  padding: 1rem;
}

.manu-img {
  padding-right: 1rem;
  width: 64px;
}

.manu-item {
  font-size: 18px;
}

.topic {
  font-size: 12px;
}

/************************************
              footer section
  ************************************/

/* footer {
      background-color: #413960;
      padding: 30px 0;
  }
  
  footer ul {
      list-style: none;
      padding: 0;
  }
  footer ul li {
      display: inline-block;
      margin-right: 10px;
  }
  footer ul li:last-child {
      margin-right: 0;
  }
  footer ul li a {
      color: white;
  }
  .copyright {
      color: white;
      padding: 20px 0 0 0;
  } */

/************************************
                  cards
  ************************************/

.icon-card {
  background-color: #f2f2f2;
  text-align: center;
  padding: 8px;
  color: #413960;
  margin-bottom: 15px;
}

.icon-card:hover {
  background-color: #f2f2f2;
  cursor: pointer;
}

.icon {
  margin: 10px 0;
}

.call-icon {
  padding-right: 15px;
}

/************************************
                  use-video
  ************************************/

.bs-example {
  margin: 20px;
}

.modal-dialog iframe {
  margin: 0 auto;
  display: block;
}

/*======================================
  *            Team Card               *
  ======================================*/

h1 {
  text-align: center;
  margin: 15px 0 40px 0;
}

.team-card {
  background-color: #f8fffb;
  text-align: center;
  border-radius: 20px;
  padding: 20px;
  color: #413960;
  margin-bottom: 20px;
}

.team-card:hover {
  background-color: #f0fff0;
  cursor: pointer;
}

.icon-card-highlight {
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 20px;
}

.team-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.text-center {
  font-size: 1.1em;
}

.team .fas,
.team .fab {
  font-size: 22px;
  letter-spacing: 10px;
}

.team .fa-phone-square-alt {
  color: #21b573;
}

.team .fa-facebook-square {
  color: #3b5998;
}

.team .fa-envelope {
  color: #43443d;
}

/* iPad */

@media only screen and (max-width: 1024px) {
  /* nav section */
  .blog-header-logo {
    font-size: 20px;
  }

  .logo-div {
    top: 9px;
  }

  sup {
    top: -10px;
    font-size: 10px;
  }
}

/* iPhone */

@media only screen and (max-width: 767px) {
  .nav-menu {
    width: 220px;
  }
  /* nav section */
  .blog-header-logo {
    font-size: 18px;
  }

  .logo-div {
    top: 10px;
  }

  sup {
    top: -9px;
    font-size: 8px;
  }
}

/* 
  .onetime{
      height : 300px;
      width: 300px;
      background-color:blue;
      z-index: 9999;
      align-items: center;
  }     */

.romjan {
  text-align: center;
  background-color: #fff0f0;
  /* margin-top: 65px; */
  margin-bottom: 15px;
  padding: 20px 0;
  border: 1px solid red;
}

.romjan b {
  color: #e84c3d;
}

/* sidebar */
.accordion:first-child {
  margin-top: 10px;
}
.accordion {
  margin-top: 5px;
}
.accordion-button {
  padding: 10px 5px !important;
  font-size: 16px;
  color: #1b1b1b;
}
.accordion-button:not(.collapsed) {
  color: #1b1b1b !important;
  background-color: #ffffff !important;
  box-shadow: none !important;
}
.accordion-body {
  padding: 0px !important;
}
.accordion-body a {
  display: block;
  width: 100%;
  border-radius: 0px !important;
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  -ms-border-radius: 0px !important;
  -o-border-radius: 0px !important;
  background-color: #f4f4f4;
  border-bottom: 1px solid #fff;
  color: #e84c3d;
  margin: 2px 0px;
}
.accordion-button::after {
  display: block;
  width: 10px !important;
  height: 10px !important;
  border-top: 2px solid rgba(10, 10, 10, 0.7);
  border-left: 2px solid rgba(5, 5, 5, 0.7);
  transform: rotate(-225deg);
  -webkit-transform: rotate(-225deg);
  -moz-transform: rotate(-225deg);
  -ms-transform: rotate(-225deg);
  -o-transform: rotate(-225deg);
  background-image: none !important;
}

.accordion-button:not(.collapsed)::after {
  transform: rotate(-135deg) !important;
  background-image: none !important;
  -webkit-transform: rotate(-135deg) !important;
  -moz-transform: rotate(-135deg) !important;
  -ms-transform: rotate(-135deg) !important;
  -o-transform: rotate(-135deg) !important;
}
