.bannerHeading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.bannerHeading p,.bannerHeading a {
  margin-bottom: 0px;
  font-size: 21px;
  color: #e84c3d;
  font-weight: 500;
}
.bannerHeading .dropdownSelect {
  background-color: transparent !important;
  color: #e84c3d !important;
  border: none !important;
  /* font-size: 23px !important; */
}
.arrowHeading {
  margin: 0px 12px;
  color: #e84c3d;
  font-size: 21px;
}
.trailVideo{
  padding: 5px 12px;
}
.profileHeading button{
  background-color: transparent;
  border: none;
  color: #e84c3d;
  font-weight: 700;
}
@media (max-width: 778px) {
  /* .arrowHeading {
    display: none;
  } */
}