.shopDetail{
    background-color: #f4f4f4;
    padding: 30px;
}
.shopDetail h1{
    text-align: center;
    color: #e84c3d;
    font-weight: 500;
    font-size: 30px;
}
.shopDetail h4{
    font-size: 21px;
    color: black;
}
.shopDetail h4 span{
    color: #e84c3d;
}
.shopImage{
    text-align: center;
}
.shopImage img{
    width: 500px;
    height: 333px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}