.sidebar {
  width: 200px;
  height: 100vh;
  background-color: #fff;
  border-right: 1px solid #e9ecef;
  transition: width 0.3s ease-in-out;
  position: fixed;
  z-index: 99999;
  top: 0px;
  min-height: 100vh;
  padding-top: 50px;
  box-shadow: 0 8px 10px 0 rgba(183, 192, 206, 0.2);
}
/* .sidebar {
      display: flex;
      height: 100vh;
      transition: width 0.3s ease-in-out;
    } */

.collapsed {
  width: 0px;
}

.sidebar-toggle {
  cursor: pointer;
  padding: 10px;
}

.sidebar-content {
  flex: 1;
  transition: transform 0.3s ease-in-out;
}

.collapsed .sidebar-content {
  transform: translateX(-200px);
}
.sideBtn {
  position: absolute;
  left: 10px;
  z-index: 99999;
  top: 16px;
  background-color: #303030fa;
  border: none;
  color: #fff;
  padding: 5px;
  font-size: 25px;
  height: auto;
  display: flex;
  align-items: center;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.bodyCollapsed {
  margin-left: 250px;
}
